name: Pull Request

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Create application files
        run: |
          mkdir -p ./src/main/resources
          echo "${{ secrets.APPLICATION }}"  > ./src/main/resources/application.yml
          echo "${{ secrets.APPLICATION_LOCAL }}"  > ./src/main/resources/application-local.yml
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Test
        run: ./gradlew test

      - name: add comments to a pull request
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: |
            */build/test-results/test/TEST-*.xml
            build/test-results/test/TEST-*.xml

      - name: action-slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: serius-be
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          if_mention: failure,cancelled
          channel: '#be-pr'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.PR_SLACK_WEBHOOK }}
        if: always()